
@{
    ViewBag.Title = "Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var idGenre = ViewData["idGenre"];
    var user = (MyMusic.Models.User)Session["user"];
    var likePostVideoArrayBoolean = (bool[])ViewData["LikePostVideoArray"];
    var likePostAudioArrayBoolean = (bool[])ViewData["LikePostAudioArray"];
    var sizeListPostAudioFromGenre = (int)ViewData["SizeListPostAudioFromGenre"];
    var sizeListPostVideoFromGenre = (int)ViewData["SizeListPostVideoFromGenre"];
    var listPostAudioFromGenre = (List<MyMusic.Models.Post>)ViewData["PostAudioFromGenre"];
    var listPostVideoFromGenre = (List<MyMusic.Models.Post>)ViewData["PostVideoFromGenre"];

    <section class="hbox stretch">

        <aside class="aside bg-light dk" id="sidebar">
            <section class="vbox animated fadeInUp">
                <section class="scrollable hover">
                    <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">

                        @if ((int)@idGenre == -1)
                        {
                            <a href="@Url.Action("Genre","Home",new { id = -1 })"
                               class="list-group-item active">All Genre</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Genre","Home",new { id = -1 })" class="list-group-item">
                                All Genre
                            </a>
                        }
                        @foreach (var genre in ViewData["ListGenre"] as List<MyMusic.Models.Genre>
)
                        {
                            if ((int)@idGenre == @genre.id)
                            {

                                <a href="@Url.Action("Genre","Home",new { id= @genre.id})"
                                   class="list-group-item active">@genre.nameGenre</a>
                            }
                            else
                            {

                                <a href="@Url.Action("Genre","Home",new { id= @genre.id})"
                                   class="list-group-item">@genre.nameGenre</a>
                            }
                        }
                        }

                    </div>
                </section>
            </section>
        </aside>
        <!-- end side content -->
        
        <section class="vbox">
            <section class="scrollable padder-lg" id="bjax-target">
                <section>
                    @if (sizeListPostAudioFromGenre!=0) {
                    <h2 class="font-thin m-b">
                        Audio
                        <span class="musicbar animate inline m-l-sm"
                              style="width: 20px; height: 20px">
                            <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span>
                            <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span>
                        </span>
                    </h2>
                    <div class="row row-sm">


                        @for (int i = 0; i < sizeListPostAudioFromGenre; i++)
                        {


                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="@Url.Action("Detail", "Home", new { id = @listPostAudioFromGenre[i].Id })">
                                                    <i class="icon-control-play i-2x"></i>
                                                </a>
                                            </div>
                                            @if (user != null)
                                            {
                                                <div class="bottom padder m-b-sm">
                                                    <a href="@Url.Action("Likes","Home", new { idPost = listPostAudioFromGenre[i].Id, idUser =user.id})" class="pull-right active" id="myLink_@listPostAudioFromGenre[i].Id"></a>
                                                    <a href="#" class="pull-right active" data-toggle="class"onclick="like(@listPostAudioFromGenre[i].Id)">
                                                        @if (likePostAudioArrayBoolean[i] == true)
                                                        {
                                                            <i class="fa fa-heart-o text"></i>
                                                            <i class="fa fa-heart text-active text-danger"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-heart-o text-active"></i>
                                                            <i class="fa fa-heart text text-danger"></i>
                                                        }

                                                    </a>
                                                    <a href="#" data-toggle="class">
                                                        <i class="fa fa-plus-circle text"></i> <i class="fa fa-check-circle text-active text-info"></i>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                        <div class="top">
                                            <span class="pull-right m-t-sm m-r-sm badge bg-white">@listPostAudioFromGenre[i].listenning</span>
                                        </div>
                                        <a href="#">
                                            <img src="@listPostAudioFromGenre[i].image.contentImage" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="@Url.Action("Detail", "Home", new { id = @listPostAudioFromGenre[i].Id })"
                                           class="text-ellipsis">@listPostAudioFromGenre[i].nameSong</a> <a href="@Url.Action("Singer", "Home", new { id = @listPostAudioFromGenre[i].singer.id })"
                                                                                                            class="text-ellipsis text-xs text-muted">@listPostAudioFromGenre[i].singer.nameSinger</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                        }

                    </div>
                    <ul class="pagination pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                    }
                    @if (sizeListPostVideoFromGenre!=0)
                    {
                    <h2 class="font-thin m-b">
                        Video
                        <span class="musicbar animate inline m-l-sm"
                              style="width: 20px; height: 20px">
                            <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span>
                            <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span>
                        </span>
                    </h2>
                    <div class="row row-sm">
                        @for (int i = 0; i < sizeListPostVideoFromGenre; i++)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="@Url.Action("Detail", "Home", new { id = @listPostVideoFromGenre[i].Id })">
                                                    <i class="icon-control-play i-2x"></i>
                                                </a>
                                            </div>
                                            @if (user != null)
                                            {
                                                <div class="bottom padder m-b-sm">
                                                    <a href="@Url.Action("Likes","Home", new { idPost = listPostVideoFromGenre[i].Id, idUser =user.id})" class="pull-right active" id="myLink_@listPostVideoFromGenre[i].Id"></a>
                                                    <a href="#" class="pull-right active" data-toggle="class" onclick="like(@listPostVideoFromGenre[i].Id)">
                                                        @if (likePostVideoArrayBoolean[i] == true)
                                                        {
                                                            <i class="fa fa-heart-o text"></i>
                                                            <i class="fa fa-heart text-active text-danger"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-heart-o text-active"></i>
                                                            <i class="fa fa-heart text text-danger"></i>
                                                        }

                                                    </a>
                                                    <a href="#" data-toggle="class">
                                                        <i class="fa fa-plus-circle text"></i> <i class="fa fa-check-circle text-active text-info"></i>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                        <div class="top">
                                            <span class="pull-right m-t-sm m-r-sm badge bg-white">@listPostVideoFromGenre[i].listenning</span>
                                        </div>
                                        <a href="#">
                                            <img src="@listPostVideoFromGenre[i].image.contentImage" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="@Url.Action("Detail", "Home", new { id = @listPostVideoFromGenre[i].Id })"
                                           class="text-ellipsis">@listPostVideoFromGenre[i].nameSong</a> <a href="@Url.Action("Singer", "Home", new { id = @listPostVideoFromGenre[i].singer.id })"
                                                                                                            class="text-ellipsis text-xs text-muted">@listPostVideoFromGenre[i].singer.nameSinger</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                        }

                    </div>
                    <ul class="pagination pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>

                    }
                </section>
            </section>
        </section>
    </section>
    <script src="@Url.Content("~/Content/js/songFavorite.js")"></script>
    <script src="@Url.Content("~/Content/js/like.js")"></script>
}

