@model MyMusic.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xl">
            <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">Musik</span></a>
            <section class="m-b-lg">
                <header class="wrapper text-center">
                    <strong>Sign in to get in touch</strong>
                </header>
                <div class="form-horizontal" style="text-align: center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "color:#FFFFFF" })


                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger", style = "color:#FFFFFF" })
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control rounded input-lg text-center no-border", @placeholder = "Email" })

                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger", style = "color:#FFFFFF" })
                            @Html.PasswordFor(model => model.password, new { @class = "form-control rounded input-lg text-center no-border", @placeholder = "Password" })

                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span></button>
                    <div class="text-center m-t m-b"><a href="#"><small>Forgot password?</small></a></div>
                    <div class="line line-dashed"></div>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a href="@Url.Action("Register","Home")" class="btn btn-lg btn-info btn-block rounded">Create an account</a>

                </div>
            </section>
        </div>
    </section>
}
