@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyMusic.Models.User
<section id="content" onload="disableAllEditButton()">
    <section id="content">
        <section class="vbox" id="bjax-el">

            <div class="right_col" role="main">

                
                    <div class="container">
                        <section id="content">
                            <div class="row">
                                <div class="col-sm-20">
                                    <div class="panel wrapper-lg">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="@Model.avatar.contentImage" class="img-full m-b">
                                            </div>
                                            <div class="col-sm-7">
                                                <h1 id="userNameMainHeader">
                                                    @Model.userName
                                                </h1>
                                                <div class="clearfix m-b-lg">
                                                    <div class="clear">
                                                        <div id="date-register">
                                                            Date Register
                                                           @String.Format("{0:d}", Model.dateRegister)
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>User Name
                                                            <th>
                                                                <label id="userNameMainTable">
                                                                    @Model.userName
                                                                </label>
                                                            </th>
                                                            <th>
                                                                <button id="linkEditFullName" type="button"
                                                                        data-toggle="modal" data-target="#userNameMadal"
                                                                        data-backdrop="static"
                                                                        class="btn btn-success navbar-right ">
                                                                    <span class="glyphicon glyphicon-plus m-r-sm"></span>
                                                                    Edit
                                                                </button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Email</td>
                                                            <td>
                                                                <label id="mainEmail">
                                                                    @Model.email
                                                                </label>
                                                            </td>
                                                            <th>
                                                                <button type="button" data-toggle="modal"
                                                                        data-backdrop="static" data-target="#emailMadal"
                                                                        class="btn btn-success navbar-right">
                                                                    <span class="glyphicon glyphicon-plus m-r-sm"></span>
                                                                    Edit
                                                                </button>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td>Full Name</td>
                                                            <td>
                                                                <label id="mainFullName">
                                                                    @Model.fullName
                                                                </label>
                                                            </td>
                                                            <th>
                                                                <button id="linkEditFullName" type="button"
                                                                        data-toggle="modal" data-target="#fullNameMadal"
                                                                        data-backdrop="static" class="btn btn-success navbar-right">
                                                                    <span class="glyphicon glyphicon-plus m-r-sm"></span>
                                                                    Edit
                                                                </button>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td>Password</td>
                                                            <td id="password">*********</td>
                                                            <th>
                                                                <button id="passwordButton" type="button"
                                                                        data-toggle="modal" data-target="#passwordMadal"
                                                                        data-backdrop="static" class="btn btn-success navbar-right">
                                                                    <span class="glyphicon glyphicon-plus m-r-sm"></span>
                                                                    Edit
                                                                </button>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="userNameMadal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"></button>
                                                            <h4 class="modal-title">
                                                                Do you want edit user name
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group modal-detail">
                                                                    <label class="col-sm-3 control-label">
                                                                        User Name
                                                                    </label>
                                                                    <div class="col-sm-9">
                                                                        <input class="form-control" type="text" id="userNameInput"
                                                                               onkeyup="activeConfirmEditUserNameButton()">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group modal-detail"
                                                                     id="noticeUserNameNotEmpty"></div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                           
                                                            <a id="url_editUserName" href="@Url.Action("EditUserName","Home",new { idUser= Model.id})"></a>
                                                            <button type="button" class="btn btn-info"
                                                                    onclick="checkUserNameInput()"
                                                                    id="confirmEditUserNameButton" data-dismiss="modal">
                                                                Confirm Edit
                                                            </button>

                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="emailMadal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"></button>
                                                            <h4 class="modal-title">
                                                                Do you want edit your email
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group modal-detail">
                                                                    <label class="col-sm-2 control-label">
                                                                        Email
                                                                    </label>
                                                                    <div class="col-sm-10">
                                                                        <input class="form-control" type="text" id="emailInput"
                                                                               placeholder="Example: abc@gmail.com"
                                                                               onkeyup="activeConfirmEditEmailButton()">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group modal-detail"
                                                                     id="noticeEmailNotEmpty"></div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            
                                                            <a id="url_editEmail" href="@Url.Action("EditEmail","Home",new { idUser= Model.id})"></a>
                                                            <button type="button" class="btn btn-info"
                                                                    onclick="checkEmailInput()" id="confirmEditEmailButton"
                                                                    data-dismiss="modal">
                                                                Confirm Edit
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="fullNameMadal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"></button>
                                                            <h4 class="modal-title">
                                                                Do you want edit your full name
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group modal-detail">
                                                                    <label class="col-sm-3 control-label">
                                                                 Full Name
                                                                    </label>
                                                                    <div class="col-sm-9">
                                                                        <input class="form-control" type="text" id="fullNameInput"
                                                                               placeholder="Example: Marry Phan"
                                                                               onkeyup="activeConfirmEditFullNameButton()">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group modal-detail"
                                                                     id="noticeFullNameNotEmpty"></div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            
                                                            <a id="url_editFullName" href="@Url.Action("EditFullName","Home",new { idUser= Model.id})"></a>
                                                            <button type="button" class="btn btn-info"
                                                                    onclick="checkFullNameInput()"
                                                                    id="confirmEditFullNameButton" data-dismiss="modal">
                                                                Confirm Edit
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="passwordMadal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"></button>
                                                            <h4 class="modal-title">
                                                                Do you want edit your password
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group modal-detail">
                                                                    <label class="col-sm-6 control-label">
                                                                        New Password
                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <input class="form-control" type="password"
                                                                               onkeyup="checkNewPasswordAndConfirmNewPassword()"
                                                                               id="newPasswordInput">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group modal-detail">
                                                                    <label class="col-sm-6 control-label">
                                                                        Confirm New Passpword
                                                                    </label>
                                                                    <div class="col-sm-6">
                                                                        <input class="form-control" type="password"
                                                                               id="confirmNewPasswordInput"
                                                                               onkeyup="checkNewPasswordAndConfirmNewPassword()"
                                                                               onkeypress="checkNewPasswordAndConfirmNewPassword()">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group modal-detail"
                                                                     id="noticePasswordNotTheSame">
                                                                    <label class="col-sm-13 control-label"></label>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            
                                                            <a id="url_editPassword" href="@Url.Action("EditPassword","Home",new { idUser= Model.id})"></a>
                                                            <button type="button" class="btn btn-info"
                                                                    onclick="checkPasswordInput()"
                                                                    id="confirmEditPasswordButton" data-dismiss="modal">
                                                                Confirm Edit
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="modal fade" id="myModalFullName" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <label id="stringNotice">
                                                                Edit Full Name success ?
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal fade" id="myModalEmail" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <label id="stringNotice">
                                                            Edit Email success
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal fade" id="myModalUserName" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <label id="stringNotice">
                                                                Edit User Name success !
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal fade" id="myModalPassword" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <label id="stringNotice">
                                                                Edit password success !
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                               
            </div>
        </section>
    </section>
</section>
<script src="@Url.Content("~/Content/js/editDetailUser.js")"></script>
