
@{
    ViewBag.Title = "Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var idSinger = ViewData["idSinger"];
    <section class="hbox stretch">

        <aside class="aside bg-light dk" id="sidebar">
            <section class="vbox animated fadeInUp">
                <section class="scrollable hover">
                    <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">

                        @if ((int)@idSinger == -1)
                        {
                            <a href="@Url.Action("Singer","Home",new { id = -1 })"
                               class="list-group-item active">All Singer</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Singer","Home",new { id = -1 })" class="list-group-item">
                                All Singer
                            </a>
                        }
                        @foreach (var singer in ViewData["ListSinger"] as List<MyMusic.Models.Singer>
)
                        {
                            if ((int)@idSinger == @singer.id)
                            {

                                <a href="@Url.Action("Singer","Home",new { id= @singer.id})"
                                   class="list-group-item active">@singer.nameSinger</a>
                            }
                            else
                            {

                                <a href="@Url.Action("Singer","Home",new { id= @singer.id})"
                                   class="list-group-item">@singer.nameSinger</a>
                            }
                        }
                        }

                    </div>
                </section>
            </section>
        </aside>
        <!-- end side content -->
        <section class="vbox">
            <section class="scrollable padder-lg" id="bjax-target">
                <section>

                    <h2 class="font-thin m-b">
                        Audio
                        <span class="musicbar animate inline m-l-sm"
                              style="width: 20px; height: 20px">
                            <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span>
                            <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span>
                        </span>
                    </h2>
                    <div class="row row-sm">


                        @foreach (var audio in ViewData["PostAudioFromSinger"] as List<MyMusic.Models.Post>)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="@Url.Action("Detail", "Home", new { id = @audio.Id })">
                                                    <i class="icon-control-play i-2x"></i>
                                                </a>
                                            </div>
                                            <div class="bottom padder m-b-sm">
                                                <a href="#" class="pull-right active" data-toggle="class">
                                                    <i class="fa fa-heart-o text"></i>
                                                    <i class="fa fa-heart text-active text-danger"></i>
                                                </a>
                                                <a href="#" data-toggle="class">
                                                    <i class="fa fa-plus-circle text"></i> <i class="fa fa-check-circle text-active text-info"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="top">
                                            <span class="pull-right m-t-sm m-r-sm badge bg-white">@audio.listenning</span>
                                        </div>
                                        <a href="#">
                                            <img src="@audio.image.contentImage" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="@Url.Action("Detail", "Home", new { id = @audio.Id })"
                                           class="text-ellipsis">@audio.nameSong</a> <a href="@Url.Action("Singer", "Home", new { id = @audio.singer.id })"
                                                                                        class="text-ellipsis text-xs text-muted">@audio.singer.nameSinger</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                        }

                    </div>
                    <ul class="pagination pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                    <h2 class="font-thin m-b">
                        Video
                        <span class="musicbar animate inline m-l-sm"
                              style="width: 20px; height: 20px">
                            <span class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span class="bar3 a3 bg-success"></span>
                            <span class="bar4 a4 bg-warning dk"></span> <span class="bar5 a5 bg-danger dker"></span>
                        </span>
                    </h2>
                    <div class="row row-sm">
                        @foreach (var video in ViewData["PostVideoFromSinger"] as List<MyMusic.Models.Post>)
                        {

                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="@Url.Action("Video_detail", "Home", new { id = @video.Id })">
                                                    <i class="icon-control-play i-2x"></i>
                                                </a>
                                            </div>
                                            <div class="bottom padder m-b-sm">
                                                <a href="#" class="pull-right active" data-toggle="class">
                                                    <i class="fa fa-heart-o text"></i>
                                                    <i class="fa fa-heart text-active text-danger"></i>
                                                </a>
                                                <a href="#" data-toggle="class">
                                                    <i class="fa fa-plus-circle text"></i> <i class="fa fa-check-circle text-active text-info"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="top">
                                            <span class="pull-right m-t-sm m-r-sm badge bg-white">@video.listenning</span>
                                        </div>
                                        <a href="#">
                                            <img src="@video.image.contentImage" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="@Url.Action("Video_detail", "Home", new { id = @video.Id })"
                                           class="text-ellipsis">@video.nameSong</a> <a href="@Url.Action("Singer", "Home", new { id = @video.singer.id })"
                                                                                        class="text-ellipsis text-xs text-muted">@video.singer.nameSinger</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                        }

                    </div>
                    <ul class="pagination pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>


                </section>
            </section>
        </section>
    </section>

}

