@model MyMusic.Models.Post
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/jscript">
        //get file size
        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        $(function () {
            $("#fileImage").change(function () {
                this.setCustomValidity('');
                var file = getNameFromPath($(this).val());
                if (file != null) {
                    var extension = file.substr((file.lastIndexOf('.') + 1));
                    switch (extension) {
                        case 'jpg':
                        case 'png':
                        case 'gif':
                            flag = true;
                            break;
                        default:
                            flag = false;
                    }
                }
                if (flag == false) {
                    this.setCustomValidity("You can upload only .jpg, .png, .gif extension file");
                    
                    return false;
                }
                else {
                    var oFile = document.getElementById("fileImage").files[0]; // <input type="file" id="fileUpload" accept=".jpg,.png,.gif,.jpeg"/>

                    if (oFile.size > 2097152) // 2 mb for bytes.
                    {
                        this.setCustomValidity("You can upload file up to 2 MB");
                        return;
                    }


                }
            });
            $("#fileMusic").change(function () {
                this.setCustomValidity('');
                var file = getNameFromPath($(this).val());
                if (file != null) {
                    var extension = file.substr((file.lastIndexOf('.') + 1));
                    switch (extension) {
                        case 'mp3':
                        case 'mp4':
                            flag = true;
                            break;
                        default:
                            flag = false;
                    }
                }
                if (flag == false) {
                    this.setCustomValidity("You can upload only .mp3, .mp4 extension file");

                    return false;
                }
                else {
                    var oFile = document.getElementById("fileMusic").files[0]; // <input type="file" id="fileUpload" accept=".jpg,.png,.gif,.jpeg"/>

                    if (oFile.size < 2097152) // 2 mb for bytes.
                    {
                        this.setCustomValidity("You can upload file up to 2 MB");
                        return;
                    }


                }
            });
    });

    

</script>


<div class="right_col" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>

                    Upload

                </h3>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <!-- MyUploadForm -->
                    <div class="x_title">
                        <h2>
                            Upload
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div align="center"
                             class="control-label col-md-12 col-sm-12 col-xs-12"
                             style="color: #1E90FF;">
                           
                            @{var uploadSuccess = ViewData["message"];
                                if (uploadSuccess != null)
                                {
                                    <p>@uploadSuccess</p>
                                }
                             }
                        </div>
                        <br />
                        @using (Html.BeginForm("Upload", "HomeAdmin", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                        {  <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    Name Song <span class="required"
                                                    style="color: #F00">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input id="nameSong" type="text" name="nameSong" required="" oninvalid="this.setCustomValidity('Please Enter Name Song')"oninput="setCustomValidity('')"
                                           class="form-control" placeholder="Name song">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    Image <span class="required"
                                                style="color: #F00">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                     <input type="file" id="fileImage" name="fileImage" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    File Upload <span class="required"
                                                      style="color: #F00">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="file" id="fileMusic" name="fileMusic" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    Singer <span class="required"
                                                 style="color: #F00">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="singer" name="singer" required="" oninvalid="this.setCustomValidity('Please Select Singer')"oninput="setCustomValidity('')"
                                            class="select2_single form-control" tabindex="-1">
                                        <option value="">Choose Singer</option>
                                        @foreach (var item in ViewData["listSinger"]
                                                    as List<MyMusic.Models.Singer>)
                                        {
                                            <option value="@item.id">
                                                @item.nameSinger
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                    Genre <span class="required"
                                                style="color: #F00">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="genre" name="genre" required oninvalid="this.setCustomValidity('Please Select Genre')"oninput="setCustomValidity('')"
                                            class="select2_single form-control" tabindex="-1">
                                        <option value="">Choose Genre</option>
                                        @foreach (var item in ViewData["listGenre"]
                                               as List<MyMusic.Models.Genre>)
                                        {
                                            <option value="@item.id">
                                                @item.nameGenre
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3"
                                     align="center">
                                    <input type="submit" value="Upload" class="btn btn-success">

                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

