<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/animate.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/simple-line-icons.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/app.css")" type="text/css" />
    
</head>
<body class="bg-info dker">
   @RenderBody()
    <!-- footer -->
    <!-- / footer -->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/js/bootstrap.js")"></script>
    <!-- App -->
    <script src="@Url.Content("~/Content/js/app.js")"></script>
    
</body>
</html>